<div style="position: relative">
    <slot></slot>
</div>
<script>
    export default {
        name : 'app-header',
        props : {
            appName: {
                type: String
            }
        }
    };
</script>